body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: hsla(0, 0%, 96%, 0.281);
}

.palette {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.color-box {
    width: 100px;
    height: 150px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}